{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@common": "./src/common",
          "@features": "./src/features",
          "@hooks": "./src/hooks",
          "@pages": "./src/pages",
          "@state": "./src/state",
          "@utils": "./src/utils",
          "@test": "./src/test"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
